<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="grid">
      <p-toast position="top-right" [baseZIndex]="50000"></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" header="Confirmação" icon="pi pi-question-circle" #confirmacao>
        <p-footer>
          <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacao.accept()"></button>
          <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacao.reject()"></button>
        </p-footer>
      </p-confirmDialog>

      <div class="col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="col-12 p-fluid pad">
        <label>Nome </label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td class="p-column-title">{{ pessoa.nome }}</td>
            <td class="p-column-title">{{ pessoa.endereco.cidade }}</td>
            <td class="p-column-title">{{ pessoa.endereco.estado }}</td>
            <td class="p-column-title">
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top"
                (click)="alternarStatus(pessoa)">
                {{ pessoa.ativo ? 'Ativo' : 'Inativo'}}
              </a>
            </td>
            <td class="col-acoes">
              <a pButton [routerLink]="['/pessoas', pessoa.codigo]" icon="pi pi-pencil" pTooltip="Editar"
                tooltipPosition="top"></a>
              <button (click)="confirmarExclusao(pessoa)" class="btn" pButton icon="pi pi-trash" pTooltip="Excluir"
                tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhuma Pessoa encontrada
            </td>
          </tr>
        </ng-template>

      </p-table>

      <a pButton label="Nova Pessoa" routerLink="/pessoas/novo" style="margin-bottom: 5px;"></a>
    </div>
  </div>


</div>
