/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;

}

label {
  font-weight: bold;
}
input {
  height: 30px;
}

@media (max-width: 500px){
  .p-dialog{
    width: 80vw !important;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
      margin: 0 auto;
  }
}

@media (max-width: 1198px) {
  .container {
      margin: 0.5rem;
  }
}

.p-sidebar{
  background-color: #0581c4ea  !important;
}

.p-sidebar .p-sidebar-content{
  padding: 0 !important;
}

.p-sidebar .p-sidebar-header{
  padding: 0 !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon{
  color: #fff !important;
}
p-calendar .p-calendar .p-inputtext {
  width: 95px;
}


p-calendar .p-button.p-button-icon-only {
  padding: 0.1rem !important;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a.p-button:hover,
a.p-button:focus {
  text-decoration: none;
}

